.list_headings {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #003;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
.body_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #000;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.small_text {	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.nav_bar {	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #F7EFE2;
}
.img_left_float {
	float: left;
	border: thin solid #666;
	margin-right: 10px;
}
.img_right_float {
	float: right;
	border: thin solid #666;
	margin-left: 10px;
}
img {
	vertical-align: bottom;
}
table {
	float: none;
	width: 580px;
	margin-left: 75px;


}
.feature_item {
	font-size: 12px;
	font-weight: bold;
	color: #003;
	text-align: center;
}
